Please the following biochemistry paper title and return one of the categories below: {{ paper_title }}

Categories:
1. Structural Biology & Protein Chemistry
2. Metabolic Pathways & Regulation
3. Enzyme Mechanisms & Kinetics
4. Cell Signaling & Molecular Biology
5. Disease Mechanisms & Therapeutic Targets
6. Analytical Methods & Techniques
7. Systems Biology & Computational Methods
8. Molecular Evolution & Comparative Biochemistry
9. Bioenergetics & Membrane Biochemistry
10. Chemical Biology & Synthetic Biology

Response format: [Category name]
