HF_TOKEN=hugging face token
OPENAI_API_KEY=OpenAI API key
ANTHROPIC_API_KEY=Anthropic API key
KNOWLEDGE_AGENT_DATA_FOLDER=path to data folder where ingested papers will be stored
PAPER_SOURCE_FOLDER=path to folder to ingest from
DB_NAME=PostgreSQL DB name
DB_USER=PostgreSQL DB user
DB_PASSWORD=PostgreSQL DB password
DB_HOST=PostgreSQL DB host
